.MainButton {
  position: fixed;
  z-index: "2";
}

.hardCodedButtonsContainer {
  display: inline-block;
  cursor: "pointer";
  /*float: right;*/
}

.defaultIconButton{
  color: white;
  font-weight: bold;
  background-color: #673ab7;
  display: inline-block;
  margin: 5px;
  padding: 20px;
  height: 50px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.defaultButtons {
  color: white;
  font-weight: bold;
  background-color: #673ab7;
  display: inline-block;
  margin: 5px;
  padding: 20px;
  height: 50px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.showButtons {
  color: white;
  font-weight: bold;
  background-color: #673ab7;
  display: inline-block;

  float: right;
  border: none;
}
.accept {
  background-color: #62b73a;
}

.delete {
  background-color: #b73a3a;
}

.interested {
  background-color: #b73a98;
}

.defaultButtons:hover {
  opacity: 0.7;
}

.defaultIconButton:hover {
  opacity: 0.7;
}
/*
.collapseButton {
  float: left;
}
*/
.defaultContainer {
  color: white;
  background-color: #673ab7;
  display: inline-block;
  float: right; /*left*/
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  box-shadow: 12px 12px 5px 5px rgba(0, 0, 0, 0.2);

  /*transition: width 0.5s;*/
}

.messageContainer {
  float: right;
  margin: 5px;
  padding: 5px;
}
/*
.defaultContainer:active {
  width: 300px;
}
*/
/*
.defaultContainerOpen {
  color: white;
  background-color: #673ab7;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  box-shadow: 12px 12px 5px 5px rgba(0, 0, 0, 0.2);
  
  /*animation: myscale 1s;
}
*/
/*
@keyframes myscale {
  from {
    width: 0%;
  }
  to {
    width: 30%;
  }
}
*/
/*
.defaultContainer:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
*/
